@import url('https://fonts.googleapis.com/css?family=Fira+Sans:wght@100&display=swap');

body {
  font-family: 'Fira Sans', sans-serif;
  color: #646464;
}

hr {
   border-top: 1px solid lightgrey;
 }

.widget {
  margin: 0 auto;
  height: 800px;
}

.container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div {
  margin:0 5px;
}

.container > span {
  margin:0 5px;
}

.space {
  margin-left: 50px;
}
img {
  border-radius: 5%;
}

img:hover{
  border: 1px solid #2E76CF;
  overflow: hidden;
  margin: -1px;
}

.dot {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #FFF;
  box-shadow: 0 0 2px #888;
}

.dot:hover {
  background: #e1e1e1;
  box-shadow: 0 0 0 1px #d0d0d0;
}

.blue {
  background-color: #2596be;
}

.green {
  background-color: #1a730d;
}

.pink {
  background-color: #d1109e;
}

.purple {
  background-color: #8a0ef0;
}

.orange {
  background-color: #f08a0e;
}

.divider {
  border-left: 1px solid lightgrey;
  height: 30px;
}

input[type="color"] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 25%;
  margin-left: 5px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

