.widget {
  margin: 0 auto;
  width: 800px;
  height: 800px;
}

hr {
  border-top: 2px solid lightgrey;
}

.row {
  display: table;
  margin-left:auto;
  margin-right:auto;
}

.column {
  float: right;
  padding: 5px;
}

img:hover{
  border: 1px solid #2E76CF;
  overflow: hidden;
  margin: -1px;
}

.space{
    padding-left: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.dot {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #FFF;
  box-shadow: 0 0 2px #888;
}

.dot:hover {
  background: #e1e1e1;
  box-shadow: 0 0 0 1px #d0d0d0;
}

.blue {
  background-color: #2596be;
}

.green {
  background-color: #1a730d;
}

.pink {
  background-color: #d1109e;
}

.purple {
  background-color: #8a0ef0;
}

.orange {
  background-color: #f08a0e;
}

